.country-flag {
	display: inline-block;
	margin-right: 10px;
	img {
		height: 20px;
	    width: auto;
	    cursor: default;
	}
}
.login {
	display: inline-block;
	margin-left: 10px;
	a {
		font-size: 15px;
		font-weight: 600;
		color: $color-text-1;
		&:hover {
			color: $color-primary;
		}
	}
}
.menu-header-right {
	display: inline-block;
	li {
		cursor: pointer;
	    font-size: 15px;
	    padding: 5px 10px;
	    border-right: 1px solid #eee;
	    display: inline-block;
	    align-items: center;
	    &:first-child {
	    	border-left: 1px solid #eee;
	    }
	}
	a {
		font-size: 15px;
		font-weight: 600;
		color: $color-text-1;
		&:hover {
			color: $color-primary;
		}
	}
}
.form-search-header {
	position: relative;
	display: inline-block;
	button {
	    border: 0px;
	    background-color: inherit;
	    border-left: 1px solid #e3e3e3 !important;
	    height: 36px;
	    width: 44px;
	    position: absolute;
	    right: 1px;
	    top: 0px;
	    &:focus {
	    	outline: 0px;
	    	border: 0px;
	    }
	}
	input {
		padding-right: 45px;
	}
}
.form-search-widget button.btn-filter {
	padding: 9px 15px;
    background-image: none;
    margin-right: 15px;
    font-weight: 700;
    background-color: initial;
    opacity: 1;
    color: $color-primary;
    &:focus, &:active, &:hover {
    	outline: 0px;
    	color: $color-primary;
    	border-color: $color-primary;
    	background-color: inherit;
    }
}
.form-search-widget button.btn-search {
	border: 1px solid $color-primary;
    color: $white;
    background-color: $color-primary;
    padding: 9px 15px;
    background-image: none;
    margin-right: 15px;
    font-weight: 700;
    &:focus, &:active, &:hover {
    	outline: 0px;
    	color: $white;
    	background-color: $color-primary;
    	border: 1px solid $color-primary;
    }
}
section {
    margin-bottom: 25px;
}
.player-information-card-wrap {
	margin-bottom: 45px;
	border-radius: 4px;
	.player-avatar {
		position: relative;
	    height: 250px;
	    overflow: hidden;
	    border: 1px solid #e6eaee;
	    img {
		    border-radius: 4px 4px 0 0;
		}
		.player-price {
		    position: absolute;
		    bottom: 15px;
		    right: 0;
		    background-color: $color-primary;
		    color: $white;
		    border-radius: 4px 0 0 4px;
		    padding: 5px 10px;
		    font-size: 16px;
		}
		.hidden-information {
		    position: absolute;
		    opacity: 0;
		    top: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0,0,0,.65);
		    color: #fff;
		    -webkit-transition: all .25s ease-in-out;
		    transition: all .25s ease-in-out;
		    p {
			    padding: 15px;
			    margin-bottom: 0;
			}
			.rent {
			    position: absolute;
			    width: 100%;
			    bottom: 30px;
			    text-align: center;
			    a {
				    color: #fff;
				    padding: 10px 15px;
				    border: 1px solid #fff;
				    border-radius: 4px;
				    cursor: pointer;
				    &:hover {
				    	border: 1px solid $color-primary;
				    }
				}
			}
		}
	}
	.player-information {
	    padding: 10px 15px 15px;
	    border: 1px solid #e6eaee;
	    border-top: 0px;
	    border-radius: 0 0 4px 4px;
	    .player-name {
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    position: relative;
		    margin-top: 0;
		    font-weight: 500;
		    font-size: 17px;
		    padding: 2px 0;
		    a {
		    	color: $color-primary;
		    }
		}
		.player-status {
		    width: 12px;
		    height: 12px;
		    border-radius: 50%;
		    position: absolute;
		    top: 5px;
		    right: 0;
		    &.ready {
			    background-color: #87cb16;
			}
		}
		.player-title {
		    margin-top: 5px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.category {
			position: relative;
		}
		.category img {
		    width: 20px;
		    height: 20px;
		    position: absolute;
		}
		.category span {
		    margin-left: 25px;
		    font-size: 12px;
		    text-overflow: ellipsis;
		    padding-top: 4px;
		    overflow: hidden;
		    display: -webkit-box;
    		-webkit-line-clamp: 1;
    		-webkit-box-orient: vertical;
		}
	}
}
.player-information-card-wrap:hover .player-avatar .hidden-information {
    opacity: 1;
}
.custom-row {
	margin-right: -22.5px;
    margin-left: -22.5px;
    >div[class^="col"] {
    	padding: 0px 22.5px;
    }
}
.widget-title {
	.title {
	    margin-bottom: 15px;
	    font-weight: 600;
	    color: $color-primary;
	    float: left;
	    text-transform: uppercase;
	}
	.refresh-btn {
	    float: right;
	    background-color: $color-primary;
	    border-radius: 4px;
	    color: #fff;
	    padding: 5px 10px;
	    font-weight: 700;
	    border: 1px solid $color-primary;
	    outline: none;
	}
}
.no-margin {
	margin-bottom: 0px;
}
.modal-content {
	.modal-header {
	    text-align: center;
	    padding: 15px;
	    border-bottom: 0px;
	}
	.modal-title {
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #354052;
	}
	.modal-body {
	    position: relative;
	    padding: 15px;
	}
	.modal-footer {
		border-top: none;
		padding: 15px;
		text-align: center;
		button.btn-danger {
		    opacity: 1;
		    color: #fff;
		    background-color: #f0564a;
		    border: 1px solid #f0564a;
		    font-weight: 600;
    		font-size: 15px;
    		padding-left: 22px;
    		padding-right: 22px;
    		text-transform: uppercase;
    		background-image: none;
    		height: 44px;
		}
	}
	.table {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 20px;
	    tr td {
		    vertical-align: middle;
		    padding: 12px 8px;
		    border-top: none;
		    color: #333;
		}
		span {
			color: #333;
		}
		.btn-group, .btn-group-vertical {
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		}
		label {
		    border: 1px solid $color-primary;
		    color: $color-primary;
		    webkit-transition: all 60ms ease-in;
    		transition: all 60ms ease-in;
    		padding: 8px 16px;
    		span,i {
    			color: $color-primary;
    		}
    		&:hover {
			    color: #fff;
			    background-color: $color-primary;
			    border-color: #353535;
			    span,i {
			    	color: #fff
			    }
			}
			&.active {
				color: #fff;
			    background-color: $color-primary;
			    border-color: #353535;
			    span,i {
			    	color: #fff
			    }
			}
		}
	}
}
.header-right {
	display: flex;
  	align-items: center;
  	float: right;
  	>div, >ul {

  	}
}
.wrap-after-login {
	display: inline-block;
	i {
	    color: #c2c5cb;
	    font-size: 22px;
	}
	.menu-after-login {
		float: left;
		display: inline-block;
		position: relative;
		margin-right: 5px;
		&:after {
			content: '';
			height: 29px;
			width: 1px;
			background-color: #eee;
			top: 6px;
			right: 0px;
			position: absolute;
		}
		li {
			display: inline-block;
			padding: 0 15px;
			padding-top: 10px;
    		padding-bottom: 7px;
    		position: relative;
		}
	}
	.info-user {
		float: left;
		display: inline-block;
		img {
			width: 40px;
    		height: 40px;
    		float: left;
    		margin-right: 7px;
		}
		.info {
			text-align: left;
			overflow: hidden;
			p {
				margin-bottom: 0;
			    color: #354052;
			    font-weight: 600;
			    font-size: 15px;
			    max-width: 100px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    line-height: 1.5;
			    &.money {
			    	margin-bottom: 0;
				    color: #f0564a;
				    font-size: 13px;
				    font-weight: 600;
			    }
			}
		}
	}
}
.info-user {
	position: relative;
}
.wrap-after-login .collapse-header {
	top: 41px;
}
.collapse-header {
	position: absolute;
	width: 320px;
    margin-top: 13px!important;
    right: -12px;
    left: inherit;
    border-radius: 4px;
    z-index: 9000;
    box-shadow: 1px 2px 3px rgba(0,0,0,.125);
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    text-align: left;
    &:after {
    	border-left: 11px solid transparent;
    	border-right: 11px solid transparent;
	    content: "";
	    display: inline-block;
	    position: absolute;
	    right: 20px;
	    border-bottom: 11px solid #fff;
    	top: -10px;
    }
    &:before {
    	border-left: 11px solid transparent;
    	border-right: 11px solid transparent;
	    content: "";
	    display: inline-block;
	    position: absolute;
	    right: 20px;
	    border-bottom: 11px solid rgba(0,0,0,.2);
    	top: -11px;
    }
}
.detail-info-user {
	.header-dropdown {
	    display: flex;
	    height: auto;
	    min-height: 40px;
	    border-bottom: 1px solid #f2f4f6;
	    line-height: 24px;
	    font-family: SegoeUI-SemiBold;
	    font-size: 14px;
	}
	.user-id-rs {
	    display: none;
	    width: 50%;
	    padding: 8px 16px;
	    margin-bottom: 0;
	    text-align: left;
	    color: #354052;
	}
	.user-id {
	    width: 100%;
	    padding: 8px 16px;
	    margin-bottom: 0;
	    text-align: right;
	    color: #8c8c8c;
	}
	.main {
	    padding: 15px;
	    display: flex;
	}
	.main .avt {
	    width: 95px;
	    height: 95px;
	    img {
	    	width: 100%;
	    	height: inherit;
	    }
	}
	.main .text-center .money-rs {
	    display: none;
	    padding-top: 10px;
	    font-size: 14px;
	    font-weight: 600;
	    color: #f0564a;
	}
	.main .menu {
	    margin-left: 30px;
	    p{
	    	font-size: 16px;
    		line-height: 1.5;
    		&:hover {
    			a {
				    color: #f0564a;
				    margin-left: 10px;
				    i {
				    	color: #f0564a;
				    }
				}
    		}
	    }
	    a{
	    	font-size: 14px;
		    color: #354052;
		    -webkit-transition: .5s;
		    transition: .5s;
		    font-family: SegoeUI-SemiBold;
		    i {
		    	margin-right: 5px;
		    	font-size: 14px;
		    	color: #354052;
		    }
		}
	}

}
.notification-user {
	right: 279px;
	width: 450px;
}
.friend-user {
	right: 220px;
	width: 450px;
}
.comment-user, .comment-group {
	right: 0px;
	width: 375px;
}
.collapse-header-style-1 {
	li.notification-item {
	    padding: 20px 16px;
	    border-bottom: 1px solid rgb(244, 245, 247);
	    list-style: none;
	}
	.notification-item .msg .detail p strong {
	    color: #354052;
	}
	.notification-item .msg {
	    display: flex;
	}
	.notification-item .msg .avt {
		width: 50px;
    	height: 50px;
	    min-width: 50px;
	    margin-right: 15px;
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
	.notification-item .msg .detail p:first-child {
	    font-size: 14px;
	    margin-bottom: 0px;
	    font-family: sans-serif;
	    line-height: 1.5;
	}
	.notification-item .msg .detail p:nth-child(2) {
	    font-size: 14px;
	    margin-bottom: 0px;
	    line-height: 1.5;
	}
	.notification-item .msg .detail p:last-child {
	    font-size: 14px;
	    color: rgb(199, 199, 204);
	    margin-bottom: 0px;
	    line-height: 1.5;
	}
	.avt img {
	    width: 100%;
	    border-radius: 50%;
	}
}
.header-notice {
	background-color: #f0564a;
    height: 40px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    .row-notification button {
	    border-radius: 4px;
	    border: 0;
	    background-color: #fbfbfb;
	    color: #005999;
	    line-height: 24px;
	    padding: 0px;
	    padding: 1px 6px;
	    font-weight: 600;
	    a {
	    	color: #005999;
	    }
	}
}
.header-scroll {
	top: 0;
}
.service-item {
	padding: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #0000004d;
    min-height: 300px;
    background: #FFF;
    color: #525151;
    margin-bottom: 15px;
    img {
	    height: 91px!important;
	    margin: 0 auto;
	}
	h4 {
	    display: block;
	    font-weight: 700;
	    text-align: center;
	    font-size: 25px;
	    margin-bottom: 10px;
	}
	span {
		display: block;
	}
	p {
	    margin-bottom: 20px;
	    display: -webkit-box;
	    overflow: hidden;
	    font-size: 14px;
	    line-height: 16px;
	    max-height: 48px;      /* fallback */
	    -webkit-line-clamp: 3; /* number of lines to show */
	    -webkit-box-orient: vertical;
	}
	b {
	    font-size: 18px;
	}
	.btn {
	    display: block;
	    margin: 15px auto 0;
	    width: 120px;
	    padding: 5px;
	    text-align: center;
	    border: 1px solid #525151;
	}
}
.footer-header {
	background-color: $color-primary;
	color: $white;
	text-align: center;
	padding: 10px 0px;
	padding-bottom: 0px;
	a {
		color: $white;
		padding-bottom: 10px;
		display: inline-block;
	}
	label {
	    font-size: 18px;
	    font-weight: 400;
	    line-height: 18px;
	}
	p {
	    font-size: 20px;
	    font-weight: 600;
	    margin-bottom: 0px;
	    line-height: 20px;
	}
}
.footer-middle {
	background: #363636;
	color: $white;
    padding: 30px;
    border-bottom: 1px solid #434343;
}
.footer-services {
	h4 {
		color: #ddd;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin-bottom: 10px;
	    font-weight: 700;
	    line-height: 20px;
	}
	ul {
		margin-bottom: 20px;
	}
	ul li a {
	    color: #b9b9b9;
	    outline: 0;
	    text-decoration: none;
	    line-height: 32px;
	    font-size: 16px;
	    &:hover {
	    	color: $color-primary;
	    }
	}
}
.footer-social-box {
	h4 {
		color: #ddd;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin-bottom: 10px;
	    font-weight: 700;
	}
	.txt-regemail {
	    font-size: 20px;
	    color: #787878;
	    height: 45px;
	    line-height: 45px;
	    padding-left: 10px;
	    border: none;
	    margin-right: -3px;
	    border-radius: 0px;
	    border-top-left-radius: 4px;
    	border-bottom-left-radius: 4px;
    	width: inherit;
	}
	.btn-regemail {
	    background: #ff4343;
	    color: #fff;
	    font-size: 20px;
	    height: 45px;
	    line-height: 45px;
	    text-align: center;
	    border: none;
	    padding: 0 20px;
	    border-radius: 0px;
	    border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
    	width: inherit;
	}
	img {
		max-width: 180px;
		margin-left: 15px;
	}
	.right {
		text-align: right;
	}
}
.conect-width-me {
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 18px;
    margin-top: 20px;
	h4 {
		color: #ddd;
	    text-transform: uppercase;
	    font-size: 18px;
	    margin-bottom: 10px;
	    font-weight: 700;
	}
	.btn-social {
	    width: 46px;
	    height: 46px;
	    float: left;
	    position: relative;
	    margin-right: 20px;
	    color: #b9b9b9;
	}
}
.footer-location {
	margin-top: 40px;
	p {
		margin-bottom: 0px;
		color: rgb(185, 185, 185);
		font-size: 15px;
	}
	span {
		color: rgb(185, 185, 185);
		font-size: 15px;
	}
	.element {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			height: 100%;
			width: 1px;
			background-color: rgb(185, 185, 185);
			top: 0px;
			right: 0px;
		}
		&:last-child {
			&:after {
				height: 0px;
				width: 0px;
			}
		}
	}
}
.footer-bottom {
	background: #282828;
	color: #a5a5a5;
    padding: 30px 30px 75px;
    p {
    	color: rgb(165, 165, 165);
    	font-size: 15px;
    	line-height: 18px;
    }
    a {
    	color: $color-primary;
    }
    h4 {
    	color: rgb(165, 165, 165);
	    text-transform: uppercase;
	    font-size: 18px;
	    margin-bottom: 10px;
	    font-weight: 400;
	    text-align: center;
    }
    .doi-tac {
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    margin-top: 15px;
	}
	.img-doi-tac {
	    display: inline-block;
	    float: left;
	    width: 33.3%;
	    height: 50px;
	    text-align: center;
	}
	.img-doi-tac img {
	    width: 80px;
	    height: 40px;
	    display: block;
	    margin: 0 auto;
	}
}
.conect-width-me {
	.language-wrap {
		float: right;
	}
	.languege {
		background-color: inherit;
		border: 0px;
		color: $white;
		font-size: 16px;
		&:focus {
			outline: 0px;
			border: 0px;
		}
		option {
			color: #000;
			border-bottom: 1px solid #CCC;
			height: 30px;
		}
	}
}