html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
body {
	background-color: $white;
	color: $color-text-descreption;
	position: relative;
	font-size: $font-default;
	font-family: $font-family;
	overflow-x: hidden;
	letter-spacing: 0.00em;
	line-height: normal;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	display: block;
    margin: 0 0 10px;
    font-weight: 600;
}
h1, .h1 {
	font-size: 28px;
	line-height: normal;
}
h2, .h2 {
	font-size: 26px;
	line-height: normal;
}
h3, .h3 {
	font-size: 24px;
	line-height: normal;
}
h4, .h4 {
	font-size: 22px;
    line-height: 30px;
}
h5, .h5 {
	font-size: 16px;
	line-height: normal;
}
h6, .h6 {
	font-size: 14px;
	line-height: normal;
}
ul {
	list-style: none;
    padding: 0;
    margin: 0;
	li {
		list-style: none;
    	margin: 0;
	}
}
a {
	color: $color-text-descreption;
	outline: none !important;
	&:hover {
		transition: all .3s, visibility 0s;
    	-ms-transition: all .3s, visibility 0s;
    	-webkit-transition: all .3s, visibility 0s;
    	-moz-transition: all .3s, visibility 0s;
		color: $color-primary;
		text-decoration: none;
	}
	&.decoration {
		text-decoration: underline;
	}
}

input {
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
	background-color: $white;
	box-sizing: border-box;
	border: 1px solid $color-border;
	width: 100%;
	&:focus {
		border: 1px solid #aaa;
    	outline: 0!important;
	}
}
section {
	position: relative;
	margin-bottom: 105px;
}
.widget img {
	width: 100%;
}
button {
	padding: 9px 15px;
    font-size: 14px;
    background-image: none;
    font-weight: 700;
    opacity: 1;
	background-color: $white;
}
.container {
	margin: 0 auto;
}