.header-right {
  text-align: right; }

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .header .container {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.96);
    height: 70px;
    margin: 0 auto;
    position: relative; }
  .header .form-search-header {
    width: 300px;
    margin: 0 auto 0 34px; }

.widget-slider {
  margin-top: 95px; }

.form-search-widget input {
  padding: 10px 12px;
  max-width: 340px;
  position: relative;
  top: 2px; }
.form-search-widget .btn-filter {
  margin-left: 30px; }

.had-gb-style-1 {
  position: relative; }
  .had-gb-style-1:after {
    content: '';
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #efeeef !important;
    left: 0px;
    bottom: 0px;
    z-index: -1; }

/*# sourceMappingURL=index.css.map */
