.nav-icon {
	display: none;
	cursor: pointer;
    color: $color-primary;
    font-size: 30px;
    padding: 0px;
    background-color: inherit;
    border: 0px;
    height: 0px;
    position: relative;
    &:focus {
    	border: 0px;
    	outline: 0px;
    }
}
.button-icon-search {
	display: none;
}
.button-icon-filter {
	display: none;
}
.menu-left {
	.menu-header-left {
		li {
			padding: 10px 0;
		}
		a {
			color: #616770;
    		font-weight: 600;
		}
	}
}
@media screen and (max-width:1199px) {
	.header .form-search-header {
		width: 155px;
	}
	.footer-social-box img {
	    max-width: 150px;
	}
}
@media screen and (max-width:768px) {
	.header-right .login {
		margin-top: 12px;
	}
	.custom-row {
	    margin-right: -15px;
	    margin-left: -15px;
	}
	.custom-row > div[class^="col"] {
	    padding: 0px 15px;
	}
	.nav-icon {
		display: inherit;
		&.collapsed {
			color: #ccc;
		}
	}
	.header-left {
		.logo {
			display: none;
		}
	}
	.header-right {
		.country-flag, .menu-header-right {
			display: none;
		}
	}
	.header .form-search-header {
		margin-left: 64px;
	}
	.btn-filter {
		display: none;
	}
	.btn-search {
		display: none;
	}
	.form-search-widget {
		padding: 0px 20px;
		position: relative;
		.button-icon-search {
			position: absolute;
			display: inline-block;
			cursor: pointer;
		    color: #333;
		    font-size: 18px;
		    padding: 0px;
		    background-color: inherit;
		    border: 0px;
		    height: 0px;
		    top: 32px;
    		left: 35px;
		    &:focus {
		    	border: 0px;
		    	outline: 0px;
		    }
		}
		.button-icon-filter {
			position: absolute;
			display: inline-block;
			cursor: pointer;
		    color: #858688;
		    font-size: 30px;
		    padding: 0px;
		    background-color: inherit;
		    border: 0px;
		    height: 0px;
		    top: 24px;
    		right: 35px;
		    &:focus {
		    	border: 0px;
		    	outline: 0px;
		    }
		}
		input {
			max-width: 100%;
		    border-radius: 23px;
		    background-color: #f1f3f5;
		    border: none;
		    height: 45px;
		    font-size: 18px;
    		padding: 14px 43px;
		}
	}
	.player-information-card-wrap {
		overflow: hidden;
	    padding: 0px 0;
	    margin-bottom: 25px;
	    width: 100%;
	    margin-right: 0;
	    border: 1px solid #e6eaee;
	    border-radius: 0px;
		&:after {
		  content: "";
		  clear: both;
		  display: table;
		}
		.player-avatar {
		    float: left;
		    width: 22%;
		    height: auto;
		    border: 0px;
		    img {
		    	border-radius: 0px;
		    }
		}
		.player-information {
		    float: right;
		    width: 78%;
		    height: 100%;
		    padding: 10px;
		    border-left: none;
		    border-radius: 0;
		    border : 0px;
		}
		.player-avatar .player-price {
		    bottom: 0;
		    padding: 0;
		    width: 100%;
		    border-radius: 0;
		    text-align: center;
		    font-size: 14px;
		}
	}
	.wrap-after-login .info-user .info {
		display: none;
	}
	.wrap-after-login .info-user img {
		margin-right: 0px;
	}
	.header .form-search-header {
	    width: 250px;
	}
	.collapse-header {
		top: 41px;
	}
	.notification-user {
		right: 170px;
	}
	.friend-user {
		right: 115px;
	}
	.comment-user, .comment-group {
		right: 55px;
	}
	.detail-info-user {
		right: 5px;
	}
	.detail-info-user .user-id-rs {
		display: inline-block;
		width: -webkit-fill-available;
	}
	.detail-info-user .main .text-center .money-rs {
		display: inline-block;
	}
	.footer-social-box .right {
		text-align: left;
	} 
	.footer-location {
		.element {
			margin-bottom: 20px;
			&:after {
				height: 0px;
				width: 0px;
			}
		}
	}
	.footer-middle {
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-bottom {
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer-social-box img {
		margin-right: 15px;
		margin-left: 0px;
	}
	.hide-on-768 {
		display: none;
	}
}
@media screen and (max-width:680px) {
	.nav-icon {
	    display: inline-block;
	}
	.form-search-header {
		display: none;
	}
	.header .container {
		padding-top: 5px;
		padding-bottom: 13px;
		height: auto;
	}
	.header-right .login {
		margin-top: 10px;
	}
	.collapse-header {
		top: 40px;
	}
	.notification-user {
		width: 100%;
		right: 0px;
		&:before, &:after {
			right: 190px;
		}
	}
	.friend-user {
		width: 100%;
		right: 0px;
		&:before, &:after {
			right: 135px;
		}
	}
	.comment-user {
		// width: 100%;
		right: -60px;
		&:before, &:after {
			right: 75px;
		}
	}

	.comment-group{
		right: -112px;
		&:before, &:after {
			right: 75px;
		}
	}
	.detail-info-user {
		width: 100%;
		right: 0px;
		&:before, &:after {
			right: 25px;
		}
	}
	.footer-social-box {
		.txt-regemail {
			border-radius: 4px;
			margin-bottom: 15px;
		}
		.btn-regemail {
			border-radius: 4px;
		}
		.right {
			display: none;
		}
	}
	.footer-bottom {
		padding-bottom: 30px;
		.doi-tac {
			margin-top: 0px;
		}
		h4 {
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}
}
@media screen and (max-width:359px) {
	.conect-width-me .language-wrap {
		margin-top: 15px;
	    overflow: hidden;
	    float: left;
	}
}