/*color*/
/*font*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 10px; }

body {
  background-color: #fff;
  color: #9298a1;
  position: relative;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.00em;
  line-height: normal;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  margin: 0 0 10px;
  font-weight: 600; }

h1, .h1 {
  font-size: 28px;
  line-height: normal; }

h2, .h2 {
  font-size: 26px;
  line-height: normal; }

h3, .h3 {
  font-size: 24px;
  line-height: normal; }

h4, .h4 {
  font-size: 22px;
  line-height: 30px; }

h5, .h5 {
  font-size: 16px;
  line-height: normal; }

h6, .h6 {
  font-size: 14px;
  line-height: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    margin: 0; }

a {
  color: #9298a1;
  outline: none !important; }
  a:hover {
    transition: all .3s, visibility 0s;
    -ms-transition: all .3s, visibility 0s;
    -webkit-transition: all .3s, visibility 0s;
    -moz-transition: all .3s, visibility 0s;
    color: #f0564a;
    text-decoration: none; }
  a.decoration {
    text-decoration: underline; }

input {
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  width: 100%; }
  input:focus {
    border: 1px solid #aaa;
    outline: 0 !important; }

section {
  position: relative;
  margin-bottom: 105px; }

.widget img {
  width: 100%; }

button {
  padding: 9px 15px;
  font-size: 14px;
  background-image: none;
  font-weight: 700;
  opacity: 1;
  background-color: #fff; }

.container {
  margin: 0 auto; }

.country-flag {
  display: inline-block;
  margin-right: 10px; }
  .country-flag img {
    height: 20px;
    width: auto;
    cursor: default; }

.login {
  display: inline-block;
  margin-left: 10px; }
  .login a {
    font-size: 15px;
    font-weight: 600;
    color: #616770; }
    .login a:hover {
      color: #f0564a; }

.menu-header-right {
  display: inline-block; }
  .menu-header-right li {
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    border-right: 1px solid #eee;
    display: inline-block;
    align-items: center; }
    .menu-header-right li:first-child {
      border-left: 1px solid #eee; }
  .menu-header-right a {
    font-size: 15px;
    font-weight: 600;
    color: #616770; }
    .menu-header-right a:hover {
      color: #f0564a; }

.form-search-header {
  position: relative;
  display: inline-block; }
  .form-search-header button {
    border: 0px;
    background-color: inherit;
    border-left: 1px solid #e3e3e3 !important;
    height: 36px;
    width: 44px;
    position: absolute;
    right: 1px;
    top: 0px; }
    .form-search-header button:focus {
      outline: 0px;
      border: 0px; }
  .form-search-header input {
    padding-right: 45px; }

.form-search-widget button.btn-filter {
  padding: 9px 15px;
  background-image: none;
  margin-right: 15px;
  font-weight: 700;
  background-color: initial;
  opacity: 1;
  color: #f0564a; }
  .form-search-widget button.btn-filter:focus, .form-search-widget button.btn-filter:active, .form-search-widget button.btn-filter:hover {
    outline: 0px;
    color: #f0564a;
    border-color: #f0564a;
    background-color: inherit; }

.form-search-widget button.btn-search {
  border: 1px solid #f0564a;
  color: #fff;
  background-color: #f0564a;
  padding: 9px 15px;
  background-image: none;
  margin-right: 15px;
  font-weight: 700; }
  .form-search-widget button.btn-search:focus, .form-search-widget button.btn-search:active, .form-search-widget button.btn-search:hover {
    outline: 0px;
    color: #fff;
    background-color: #f0564a;
    border: 1px solid #f0564a; }

section {
  margin-bottom: 25px; }

.player-information-card-wrap {
  margin-bottom: 45px;
  border-radius: 4px; }
  .player-information-card-wrap .player-avatar {
    position: relative;
    height: 250px;
    overflow: hidden;
    border: 1px solid #f0564a; }
    .player-information-card-wrap .player-avatar img {
      border-radius: 4px 4px 0 0; }
    .player-information-card-wrap .player-avatar .player-price {
      /* position: absolute;
      bottom: 15px;
      right: 0;*/
      min-width: 100px;
      display: inline-block;
      float: right;
      text-align: center;
      background-color: #f0564a;
      color: #fff;
      /* border-radius: 4px 0 0 4px; */
      padding: 4px 29px;
      font-size: 14px; }
    .player-information-card-wrap .player-avatar .hidden-information {
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      color: #fff;
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
      .player-information-card-wrap .player-avatar .hidden-information p {
        padding: 15px;
        margin-bottom: 0; }
      .player-information-card-wrap .player-avatar .hidden-information .rent {
        position: absolute;
        width: 100%;
        bottom: 30px;
        text-align: center; }
        .player-information-card-wrap .player-avatar .hidden-information .rent a {
          color: #fff;
          padding: 10px 15px;
          border: 1px solid #fff;
          border-radius: 4px;
          cursor: pointer; }
          .player-information-card-wrap .player-avatar .hidden-information .rent a:hover {
            border: 1px solid #f0564a; }
  .player-information-card-wrap .player-information {
    padding: 10px 15px 15px;
    border: 1px solid #f0564a;
    border-top: 0px;
    border-radius: 0 0 4px 4px; 
    padding-bottom: 0;
  }
    .player-information-card-wrap .player-information .player-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      margin-top: 0;
      font-weight: 500;
      font-size: 17px;
      padding: 2px 0; 
      margin-bottom: 0;
    }
      
      .player-information-card-wrap .player-information .player-name a {
        color: #444; 
        text-transform: uppercase;
      }
    .player-information-card-wrap .player-information .player-status {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      /* position: absolute; */
      /* top: 5px;
      right: 0; */
     }
      .player-information-card-wrap .player-information .player-status.ready {
        background-color: #87cb16; }
      .player-information-card-wrap .player-information .player-status.busy {
        background-color: #cb4016; }
    .player-information-card-wrap .player-information .player-title {
      line-height: 28px;
      color: #444;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .player-title span{
        text-transform: uppercase;

      }
    .player-information-card-wrap .player-information .category {
      position: relative; }
    .player-information-card-wrap .player-information .category img {
      width: 20px;
      height: 20px;
      position: absolute; }
    .player-information-card-wrap .player-information .category span {
      margin-left: 25px;
      font-size: 12px;
      text-overflow: ellipsis;
      padding-top: 4px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;  
    }

.player-information-card-wrap:hover .player-avatar .hidden-information {
  opacity: 1; }

.custom-row {
  margin-right: -22.5px;
  margin-left: -22.5px; }
  .custom-row > div[class^="col"] {
    padding: 0px 22.5px; }

.widget-title .title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #f0564a;
  float: left;
  text-transform: uppercase; }
.widget-title .refresh-btn {
  float: right;
  background-color: #f0564a;
  border-radius: 4px;
  color: #fff;
  padding: 5px 10px;
  font-weight: 700;
  border: 1px solid #f0564a;
  outline: none; }

.no-margin {
  margin-bottom: 0px; }

.modal-content .modal-header {
  text-align: center;
  padding: 15px;
  border-bottom: 0px; }
.modal-content .modal-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #354052; }
.modal-content .modal-body {
  position: relative;
  padding: 15px; }
.modal-content .modal-footer {
  border-top: none;
  padding: 15px;
  text-align: center; }
  .modal-content .modal-footer button.btn-danger {
    opacity: 1;
    color: #fff;
    background-color: #f0564a;
    border: 1px solid #f0564a;
    font-weight: 600;
    font-size: 15px;
    /* padding-left: 22px;
    padding-right: 22px; */
    text-transform: uppercase;
    background-image: none;
    height: 44px; }
.modal-content .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }
  .modal-content .table tr td {
    vertical-align: middle;
    padding: 12px 8px;
    border-top: none;
    color: #333; }
  .modal-content .table span {
    color: #333; }
  .modal-content .table .btn-group, .modal-content .table .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  .modal-content .table label {
    border: 1px solid #f0564a;
    color: #f0564a;
    webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
    padding: 8px 16px; }
    .modal-content .table label span, .modal-content .table label i {
      color: #f0564a; }
    .modal-content .table label:hover {
      color: #fff;
      background-color: #f0564a;
      border-color: #353535; }
      .modal-content .table label:hover span, .modal-content .table label:hover i {
        color: #fff; }
    .modal-content .table label.active {
      color: #fff;
      background-color: #f0564a;
      border-color: #353535; }
      .modal-content .table label.active span, .modal-content .table label.active i {
        color: #fff; }

.header-right {
  display: flex;
  align-items: center;
  float: right; }

.wrap-after-login {
  display: inline-block; }
  .wrap-after-login i {
    color: #c2c5cb;
    font-size: 22px; }
  .wrap-after-login .menu-after-login {
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 5px; }
    .wrap-after-login .menu-after-login:after {
      content: '';
      height: 29px;
      width: 1px;
      background-color: #eee;
      top: 6px;
      right: 0px;
      position: absolute; }
    .wrap-after-login .menu-after-login li {
      display: inline-block;
      padding: 0 15px;
      padding-top: 10px;
      padding-bottom: 7px;
      position: relative; }
  .wrap-after-login .info-user {
    float: left;
    display: inline-block; }
    .wrap-after-login .info-user img {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 7px; }
    .wrap-after-login .info-user .info {
      text-align: left;
      overflow: hidden; }
      .wrap-after-login .info-user .info p {
        margin-bottom: 0;
        color: #354052;
        font-weight: 600;
        font-size: 15px;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5; }
        .wrap-after-login .info-user .info p.money {
          margin-bottom: 0;
          color: #f0564a;
          font-size: 13px;
          font-weight: 600; }

.info-user {
  position: relative; }

.wrap-after-login .collapse-header {
  top: 41px; }

  
.collapse-header {
  position: absolute;
  width: 320px;
  margin-top: 13px !important;
  right: -12px;
  left: inherit;
  border-radius: 4px;
  z-index: 9000;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left; }
  .collapse-header:after {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 20px;
    border-bottom: 11px solid #fff;
    top: -10px; }
  .collapse-header:before {
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 20px;
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    top: -11px; }
  .comment-user::before, .comment-user::after{
    right: 17px;
  }

  .comment-group::before, .comment-group::after{
    right: 17px;
  }
  .comment-notification::before, .comment-notification::after{
    right: 12px;
  }
.detail-info-user .header-dropdown {
  display: flex;
  height: auto;
  min-height: 40px;
  border-bottom: 1px solid #f2f4f6;
  line-height: 24px;
  font-family: SegoeUI-SemiBold;
  font-size: 14px; }
.detail-info-user .user-id-rs {
  display: none;
  width: 50%;
  padding: 8px 16px;
  margin-bottom: 0;
  text-align: left;
  color: #354052; }
.detail-info-user .user-id {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 0;
  text-align: right;
  color: #8c8c8c; }
.detail-info-user .main {
  padding: 15px;
  display: flex; }
.detail-info-user .main .avt {
  width: 95px;
  height: 95px; }
  .detail-info-user .main .avt img {
    width: 100%;
    height: inherit; }
.detail-info-user .main .text-center .money-rs {
  display: none;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #f0564a; }
.detail-info-user .main .menu {
  margin-left: 30px; }
  .detail-info-user .main .menu p {
    font-size: 16px;
    line-height: 1.5; }
    .detail-info-user .main .menu p:hover a {
      color: #f0564a;
      margin-left: 10px; }
      .detail-info-user .main .menu p:hover a i {
        color: #f0564a; }
  .detail-info-user .main .menu a {
    font-size: 14px;
    color: #354052;
    -webkit-transition: .5s;
    transition: .5s;
    font-family: SegoeUI-SemiBold; }
    .detail-info-user .main .menu a i {
      margin-right: 5px;
      font-size: 14px;
      color: #354052; }

.notification-user {
  right: 279px;
  width: 450px; }

.friend-user {
  right: 220px;
  width: 450px; }

.comment-user, .comment-group, .comment-notification {
  right: 0px;
  width: 375px 
}

.collapse-header-style-1 li.notification-item {
  padding: 20px 16px;
  border-bottom: 1px solid #f4f5f7;
  list-style: none; }
.collapse-header-style-1 .notification-item .msg .detail p strong {
  color: #354052; }
.collapse-header-style-1 .notification-item .msg {
  display: flex; }
.collapse-header-style-1 .notification-item .msg .avt {
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px; }
.collapse-header-style-1 .notification-item .msg .detail p:first-child {
  font-size: 14px;
  margin-bottom: 0px;
  font-family: sans-serif;
  line-height: 1.5; }
.collapse-header-style-1 .notification-item .msg .detail p:nth-child(2) {
  font-size: 14px;
  margin-bottom: 0px;
  line-height: 1.5; }
.collapse-header-style-1 .notification-item .msg .detail p:last-child {
  font-size: 14px;
  color: #c7c7cc;
  margin-bottom: 0px;
  line-height: 1.5; }
.collapse-header-style-1 .avt img {
  width: 100%;
  border-radius: 50%; }

.header-notice {
  background-color: #f0564a;
  height: 40px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-weight: 600;
  font-size: 14px; }
  .header-notice .row-notification button {
    border-radius: 4px;
    border: 0;
    background-color: #fbfbfb;
    color: #005999;
    line-height: 24px;
    padding: 0px;
    padding: 1px 6px;
    font-weight: 600; }
    .header-notice .row-notification button a {
      color: #005999; }

.header-scroll {
  top: 0; }

.service-item {
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px #0000004d;
  min-height: 300px;
  background: #FFF;
  color: #525151;
  margin-bottom: 15px; }
  .service-item img {
    height: 91px !important;
    margin: 0 auto; }
  .service-item h4 {
    display: block;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px; }
  .service-item span {
    display: block; }
  .service-item p {
    margin-bottom: 20px;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    max-height: 48px;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical; }
  .service-item b {
    font-size: 18px; }
  .service-item .btn {
    display: block;
    margin: 15px auto 0;
    width: 120px;
    padding: 5px;
    text-align: center;
    border: 1px solid #525151; }

.footer-header {
  background-color: #f0564a;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  padding-bottom: 0px; }
  .footer-header a {
    color: #fff;
    padding-bottom: 10px;
    display: inline-block; }
  .footer-header label {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; }
  .footer-header p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 20px; }

.footer-middle {
  background: #363636;
  color: #fff;
  padding: 30px;
  border-bottom: 1px solid #434343; }

.footer-services h4 {
  color: #ddd;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 20px; }
.footer-services ul {
  margin-bottom: 20px; }
.footer-services ul li a {
  color: #b9b9b9;
  outline: 0;
  text-decoration: none;
  line-height: 32px;
  font-size: 16px; }
  .footer-services ul li a:hover {
    color: #f0564a; }

.footer-social-box h4 {
  color: #ddd;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700; }
.footer-social-box .txt-regemail {
  font-size: 20px;
  color: #787878;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border: none;
  margin-right: -3px;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: inherit; }
.footer-social-box .btn-regemail {
  background: #ff4343;
  color: #fff;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: none;
  padding: 0 20px;
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: inherit; }
.footer-social-box img {
  max-width: 180px;
  margin-left: 15px; }
.footer-social-box .right {
  text-align: right; }

.conect-width-me {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding-bottom: 25px;
  padding-top: 18px;
  margin-top: 20px; }
  .conect-width-me h4 {
    color: #ddd;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700; }
  .conect-width-me .btn-social {
    width: 46px;
    height: 46px;
    float: left;
    position: relative;
    margin-right: 20px;
    color: #b9b9b9; }

.footer-location {
  margin-top: 40px; }
  .footer-location p {
    margin-bottom: 0px;
    color: #b9b9b9;
    font-size: 15px; }
  .footer-location span {
    color: #b9b9b9;
    font-size: 15px; }
  .footer-location .element {
    position: relative; }
    .footer-location .element:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: #b9b9b9;
      top: 0px;
      right: 0px; }
    .footer-location .element:last-child:after {
      height: 0px;
      width: 0px; }

.footer-bottom {
  background: #282828;
  color: #a5a5a5;
  padding: 30px 30px 75px; }
  .footer-bottom p {
    color: #a5a5a5;
    font-size: 15px;
    line-height: 18px; }
  .footer-bottom a {
    color: #f0564a; }
  .footer-bottom h4 {
    color: #a5a5a5;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center; }
  .footer-bottom .doi-tac {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 15px; }
  .footer-bottom .img-doi-tac {
    display: inline-block;
    float: left;
    width: 33.3%;
    height: 50px;
    text-align: center; }
  .footer-bottom .img-doi-tac img {
    width: 80px;
    height: 40px;
    display: block;
    margin: 0 auto; }

.conect-width-me .language-wrap {
  float: right; }
.conect-width-me .languege {
  background-color: inherit;
  border: 0px;
  color: #fff;
  font-size: 16px; }
  .conect-width-me .languege:focus {
    outline: 0px;
    border: 0px; }
  .conect-width-me .languege option {
    color: #000;
    border-bottom: 1px solid #CCC;
    height: 30px; }
  .list-style-2 li {
    display: flex;
    align-items: center;
    margin-top: 20px; }
  .list-style-2 .position {
    height: 20px;
    width: 20px;
    background-color: #2d9b9b;
    color: #000;
    display: inline-block;
    text-align: center;
    border-radius: 50%; }
  .list-style-2 .number-recharge {
    display: inline-block;
    margin-left: auto;
    padding: 5px;
    background-color: #f0564a;
    border-radius: 4px; }
    .list-style-2 .number-recharge span {
      position: relative;
      top: -5px; }
  .list-style-2 a {
    display: inline-block;
    margin-left: 5px; }

.widget .btn-load-more {
  border: 1px solid #f0564a;
  color: #fff;
  background-color: #f0564a;
  padding: 9px 15px;
  background-image: none;
  margin-right: 15px;
  font-weight: 700;
  text-transform: uppercase; }
  
.header-right {
  text-align: right; }

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .header .container {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.96);
    height: 70px;
    margin: 0 auto;
    position: relative; }
  .header .form-search-header {
    width: 300px;
    margin: 0 auto 0 34px; }
section.mt-95 {
  margin-top: 95px; }
/* .widget-slider { */
  /* margin-top: 95px;  */
/* } */

.form-search-widget input {
  padding: 10px 12px;
  max-width: 340px;
  position: relative;
  top: 2px; }
.form-search-widget .btn-filter {
  margin-left: 30px; }

.had-gb-style-1 {
  position: relative; }
  .had-gb-style-1:after {
    content: '';
    position: absolute;
    height: 60%;
    width: 100%;
    background-color: #efeeef !important;
    left: 0px;
    bottom: 0px;
    z-index: -1; }

    .widget-top-recharge-card {
      color: #fff; }
      .widget-top-recharge-card .title-content span {
        background-color: #3c3c3d;
        display: inline-block;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px; }
      .widget-top-recharge-card .title-content p {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        color: #f0564a;
        margin-bottom: 0px;
        margin-left: 15px; }
      .widget-top-recharge-card .list-style-2 {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px; }
        .widget-top-recharge-card .list-style-2 .number-recharge {
          color: #000; }
        .widget-top-recharge-card .list-style-2 li {
          font-size: 15px;
          font-weight: 600; }
          .widget-top-recharge-card .list-style-2 li a {
            color: #fff;
            margin-left: 10px; }
          .widget-top-recharge-card .list-style-2 li:first-child .position {
            background-image: url("../images/rate-star-button.svg");
            background-repeat: no-repeat;
            background-color: initial;
            background-size: cover;
            height: 25px;
            width: 25px;
            line-height: 25px; }


.section-bg-style-1 {
  background-image: url("../images/water-1330252__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px; }
  .section-bg-style-1 > .container > .row {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #000;
    border: 4px solid #3c3c3d;
    position: relative; }
  .section-bg-style-1 > .container > .row div[class^="col"] {
    padding-left: 0px;
    padding-right: 0px;
    position: initial; }
    .section-bg-style-1 > .container > .row div[class^="col"].left:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 4px;
      background-color: #3c3c3d;
      top: 0px;
      left: 25%;
      z-index: 99; }
.widget-hot-player .btn-load-more {
  margin-bottom: 45px; }
      
.nav-icon {
  display: none;
  cursor: pointer;
  color: #f0564a;
  font-size: 30px;
  padding: 0px;
  background-color: inherit;
  border: 0px;
  height: 0px;
  position: relative; }
  .nav-icon:focus {
    border: 0px;
    outline: 0px; }

.button-icon-search {
  display: none; }

.button-icon-filter {
  display: none; }

.menu-left .menu-header-left li {
  padding: 10px 0; }
.menu-left .menu-header-left a {
  color: #616770;
  font-weight: 600; }

@media screen and (max-width: 1199px) {
  .header .form-search-header {
    width: 155px; }

  .footer-social-box img {
    max-width: 150px; } }
@media screen and (max-width: 768px) {
  .header-right .login {
    margin-top: 12px; }

  .custom-row {
    margin-right: -15px;
    margin-left: -15px; }

  .custom-row > div[class^="col"] {
    padding: 0px 15px; }

  .nav-icon {
    display: inherit; }
    .nav-icon.collapsed {
      color: #ccc; }

  .header-left .logo {
    display: none; }

  .header-right .country-flag, .header-right .menu-header-right {
    display: none; }

  .header .form-search-header {
    margin-left: 64px; }

  .btn-filter {
    display: none; }

  .btn-search {
    display: none; }

  .form-search-widget {
    padding: 0px 20px;
    position: relative; }
    .form-search-widget .button-icon-search {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      color: #333;
      font-size: 18px;
      padding: 0px;
      background-color: inherit;
      border: 0px;
      height: 0px;
      top: 32px;
      left: 35px; }
      .form-search-widget .button-icon-search:focus {
        border: 0px;
        outline: 0px; }
    .form-search-widget .button-icon-filter {
      position: absolute;
      display: inline-block;
      cursor: pointer;
      color: #858688;
      font-size: 30px;
      padding: 0px;
      background-color: inherit;
      border: 0px;
      height: 0px;
      top: 24px;
      right: 35px; }
      .form-search-widget .button-icon-filter:focus {
        border: 0px;
        outline: 0px; }
    .form-search-widget input {
      max-width: 100%;
      border-radius: 23px;
      background-color: #f1f3f5;
      border: none;
      height: 45px;
      font-size: 18px;
      padding: 14px 43px; }

  /* .player-information-card-wrap {
    overflow: hidden;
    padding: 0px 0;
    margin-bottom: 25px;
    width: 100%;
    margin-right: 0;
    border: 1px solid #e6eaee;
    border-radius: 0px; }
    .player-information-card-wrap:after {
      content: "";
      clear: both;
      display: table; }
    .player-information-card-wrap .player-avatar {
      float: left;
      width: 22%;
      height: auto;
      border: 0px; }
      .player-information-card-wrap .player-avatar img {
        border-radius: 0px; }
    .player-information-card-wrap .player-information {
      float: right;
      width: 78%;
      height: 100%;
      padding: 10px;
      border-left: none;
      border-radius: 0;
      border: 0px; }
    .player-information-card-wrap .player-avatar .player-price {
      bottom: 0;
      padding: 0;
      width: 100%;
      border-radius: 0;
      text-align: center;
      font-size: 14px; } */

  .wrap-after-login .info-user .info {
    display: none; }

  .wrap-after-login .info-user img {
    margin-right: 0px; }

  .header .form-search-header {
    width: 250px; }

  .collapse-header {
    top: 41px; }

  .notification-user {
    right: 170px; }

  .friend-user {
    right: 115px; }

  .comment-user, .comment-group, .comment-notification {
    right: 55px; }

  .detail-info-user {
    right: 5px; }

  .detail-info-user .user-id-rs {
    display: inline-block;
    width: -webkit-fill-available; }

  .detail-info-user .main .text-center .money-rs {
    display: inline-block; }

  .footer-social-box .right {
    text-align: left; }

  .footer-location .element {
    margin-bottom: 20px; }
    .footer-location .element:after {
      height: 0px;
      width: 0px; }

  .footer-middle {
    padding-left: 0px;
    padding-right: 0px; }

  .footer-bottom {
    padding-left: 0px;
    padding-right: 0px; }

  .footer-social-box img {
    margin-right: 15px;
    margin-left: 0px; }

  .hide-on-768 {
    display: none; }
  }
@media screen and (max-width: 680px) {
  .nav-icon {
    display: inline-block; }

  .form-search-header {
    display: none; }

  .header .container {
    padding-top: 5px;
    padding-bottom: 13px;
    height: auto; }

  .header-right .login {
    margin-top: 10px; }

  .collapse-header {
    top: 40px; }

  .notification-user {
    width: 100%;
    right: 0px; }
    .notification-user:before, .notification-user:after {
      right: 190px; }

  .friend-user {
    width: 100%;
    right: 0px; }
    .friend-user:before, .friend-user:after {
      right: 135px; }

  .comment-user {
    /* width: 100%; */
    right: -60px; 
  }
    .comment-group {
      right: -112px;
    }
    .comment-notification {
      right: -169px;
    }
    .comment-user:before, .comment-user:after  {
      right: 75px; }
      .comment-group:after, .comment-group:before{
        right: 128px;
      }
      .comment-notification:before, .comment-notification:after{
        right: 182px;
      }

  .detail-info-user {
    /* width: 100%; */
    right: 0px; }
    .detail-info-user:before, .detail-info-user:after {
      right: 8px; }

  .footer-social-box .txt-regemail {
    border-radius: 4px;
    margin-bottom: 15px; }
  .footer-social-box .btn-regemail {
    border-radius: 4px; }
  .footer-social-box .right {
    display: none; }

  .footer-bottom {
    padding-bottom: 30px; }
    .footer-bottom .doi-tac {
      margin-top: 0px; }
    .footer-bottom h4 {
      margin-top: 15px;
      margin-bottom: 0px; } }
@media screen and (max-width: 359px) {
  .conect-width-me .language-wrap {
    margin-top: 15px;
    overflow: hidden;
    float: left; } }

/* GDV */

.player-information-card-wrap .player-avatar .player-text{
  /* position: absolute;
  bottom: 45px;
  right: 0; */
  min-width: 100px;
  background-color: #fff;
  text-align: center;
  color: #f0564a;
  /* border-radius: 4px 0 0 4px; */
  padding: 4px 29px;
  font-size: 14px;
}

.wrap-title-status {
  display: flex;
  align-items: center;
  margin : 0px 5px;
}
.wrap-title-status .player-status{
  margin-left: auto;
}

.total-trade {
  background-color: #f0564a;
  color: #fff;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
.player-information-card-wrap .player-information.style1 {
  text-align: center;
}
.player-information-card-wrap .player-avatar img.img-child {
  width: 80px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px;
}
.player-information-card-wrap .player-avatar.style1{
  overflow: initial;
}
.player-avatar .wrap-text-price {
  position: absolute;
  right: 0px;
  bottom: 10px;
}