/*color*/
$color-primary : #f0564a;
$color-text-descreption: #9298a1;
$white : #fff;
$black : #000;
$color-border: #e3e3e3;
$color-text-1: #616770;;
/*font*/
$font-default : 14px;
$font-family : 'Source Sans Pro', sans-serif;